# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Env / secrets
.env
.env.*
!.env.example

# Virtualenv
.venv/
venv/
ENV/
.venv-1/

# VS Code
.vscode/

# OS
.DS_Store
